* {
	margin: 0;
	padding: 0;
}
body {
	color: #ffffff;
	font-family: Metropolis, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
	background-color: #080606;
}

#slider {
    background-image:  url("https://p325k7wa.twic.pics/high/tekken/tekken-8/00-page-setup/TKN8_page-bg-2.jpg?twic=v1/cover-min=1240x932&quot;);%22%3E%3C/div%3E");
    background-size: cover;
}

  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
